<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fluffy.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2207051</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>926B97731D167BEAD8D69855CB0F0296028C2C56</string>
				<key>dateExpires</key>
				<string>01/11/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>926B97731D167BEAD8D69855CB0F0296028C2C56</string>
						<key>dateExpires</key>
						<string>01/11/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XX3GM59KPN</string>
						<key>name</key>
						<string>Dat Bui Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>926B97731D167BEAD8D69855CB0F0296028C2C56</string>
						<key>dateExpires</key>
						<string>01/11/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XX3GM59KPN</string>
						<key>name</key>
						<string>Dat Bui Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>926B97731D167BEAD8D69855CB0F0296028C2C56</string>
						<key>dateExpires</key>
						<string>01/11/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XX3GM59KPN</string>
						<key>name</key>
						<string>Dat Bui Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>926B97731D167BEAD8D69855CB0F0296028C2C56</string>
						<key>dateExpires</key>
						<string>01/11/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XX3GM59KPN</string>
						<key>name</key>
						<string>Dat Bui Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>926B97731D167BEAD8D69855CB0F0296028C2C56</string>
						<key>dateExpires</key>
						<string>01/11/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XX3GM59KPN</string>
						<key>name</key>
						<string>Dat Bui Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>926B97731D167BEAD8D69855CB0F0296028C2C56</string>
						<key>dateExpires</key>
						<string>01/11/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XX3GM59KPN</string>
						<key>name</key>
						<string>Dat Bui Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>926B97731D167BEAD8D69855CB0F0296028C2C56</string>
						<key>dateExpires</key>
						<string>01/11/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XX3GM59KPN</string>
						<key>name</key>
						<string>Dat Bui Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XX3GM59KPN.xyz.danhabc.justiceMango</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XX3GM59KPN</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c1e43975-97b5-4417-bfd5-40c058b98b69</string>
				<key>dateExpires</key>
				<string>08/11/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: xyz.danhabc.justiceMango</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XX3GM59KPN</string>
				<key>name</key>
				<string>Dat Bui Thanh</string>
			</dict>
			<key>versionNumber</key>
			<string>3.0.3</string>
		</dict>
	</array>
</dict>
</plist>
