<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fluffy.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>211122</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BEFE887B8EE8DCB8C71FC02F8DDB6563DCEE6A89</string>
				<key>dateExpires</key>
				<string>20/11/2022</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEFE887B8EE8DCB8C71FC02F8DDB6563DCEE6A89</string>
						<key>dateExpires</key>
						<string>20/11/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XX3GM59KPN</string>
						<key>name</key>
						<string>Dat Bui Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEFE887B8EE8DCB8C71FC02F8DDB6563DCEE6A89</string>
						<key>dateExpires</key>
						<string>20/11/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XX3GM59KPN</string>
						<key>name</key>
						<string>Dat Bui Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEFE887B8EE8DCB8C71FC02F8DDB6563DCEE6A89</string>
						<key>dateExpires</key>
						<string>20/11/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XX3GM59KPN</string>
						<key>name</key>
						<string>Dat Bui Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEFE887B8EE8DCB8C71FC02F8DDB6563DCEE6A89</string>
						<key>dateExpires</key>
						<string>20/11/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XX3GM59KPN</string>
						<key>name</key>
						<string>Dat Bui Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEFE887B8EE8DCB8C71FC02F8DDB6563DCEE6A89</string>
						<key>dateExpires</key>
						<string>20/11/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XX3GM59KPN</string>
						<key>name</key>
						<string>Dat Bui Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEFE887B8EE8DCB8C71FC02F8DDB6563DCEE6A89</string>
						<key>dateExpires</key>
						<string>20/11/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XX3GM59KPN</string>
						<key>name</key>
						<string>Dat Bui Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XX3GM59KPN.xyz.danhabc.justiceMango</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XX3GM59KPN</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>XX3GM59KPN.xyz.danhabc.justiceMango</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>82f32c25-e1b6-46c9-9f7a-7d7bdc0429b4</string>
				<key>dateExpires</key>
				<string>20/11/2022</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: xyz.danhabc.justiceMango</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XX3GM59KPN</string>
				<key>name</key>
				<string>Dat Bui Thanh</string>
			</dict>
			<key>versionNumber</key>
			<string>2.2.4</string>
		</dict>
	</array>
</dict>
</plist>
